body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery figure {
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.image-gallery figcaption {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.accordion {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.accordion-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    background-color: #f7f7f7;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    width: 100%;
    outline: none;
    font-size: 1.1em;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fff;
}

.accordion-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
    align: center;
    border-color: white;
}

td {
    padding: 10px;
    border: 0px solid #ccc;
    vertical-align: top;
}

.col1 {
    width: 30%;
    text-align: left;
}

.col2 {
    width: 70%;
    text-align: left;
}

.subtable {
    width: 70%;
    border-collapse: collapse;
    margin: 0;
}

.subcol1, .subcol2 {
    padding: 10px;
    border: 0px solid #ccc;
    vertical-align: top;
}

.subcol1 {
    width: 35%;
    text-align: left;
}

.subcol2 {
    width: 35%;
    text-align: left;
}